:root {
  --background: #fafafa;
  --card-background: #fff;
  --text-color: #000;
  --element-background: #fff;
  --input-background: #fff;
  --button-color: #fff;
  --button-text-color: #212e37;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  background-color: var(--background);
  color: var(--text-color);
}
main {
  padding: 1rem 68px;
}
header {
  background-color: var(--card-background);
  display: flex;
  position: relative;
  top: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: space-between;
  padding: 1rem 5rem;
}
h1 {
  display: inline-block;
  font-size: 18px;
  color: var(--text-color);
}
header button {
  border: 0;
  background-color: var(--button-text-color);
  color: var(--button-color);
  font-family: "Nunito Sans", sans-serif;
  cursor: pointer;
  border-radius: 50%;
}
main button {
  border: 0;
  color: #fff;
  background-color: rgb(182, 182, 182);
  font-family: "Nunito Sans", sans-serif;
  cursor: pointer;
  padding: 5px;
}
#search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  padding: 1rem 0;
}
#search {
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 40%;
  font-size: 1rem;
  background-color: var(--input-background);
}
#search::placeholder {
  color: var(--text-color);
}
#region {
  padding: 0.6rem;
  width: 15%;
  background-color: var(--element-background);
  color: var(--text-color);
}
.countries-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  justify-content: center; */
  gap: 68px;
}
.country-container {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 275px; /* dec 9px to fit google chrome (test only) */
  min-width: 275px;
  display: inline-block;
  background-color: var(--card-background);
  padding-bottom: 1.5rem;
}
.country-container img {
  width: 100%;
  height: 150px;
}
.card-info {
  font-size: smaller;
  padding-left: 15px;
}


/* selected country styles */
.selected-country-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.selected-country-container .back-button {
  padding: 1rem 0;
  border: 0;
  color: #fff;
  cursor: pointer;
  button {
    width: 100px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    height: 30px;
    padding: 0 0.5rem;
    border-radius: 5px;
    background-color: var(--card-background);
    color: var(--text-color);
    text-decoration: none;
  }
}
.selected-country-container .selected-country {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.selected-country-container .selected-country .flag {
  width: 40%;
  height: 100%;
  border-radius: 10px;
  img {
    width: 75%;
  }
}
.selected-country-container .selected-country .info {
  width: 60%;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
}
.selected-country-container .selected-country .info .name {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 0.5rem;
  p {
    font-size: 25px;
    font-weight: 800;
  }
}
.selected-country-container .selected-country .info .details {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 0.5rem;
  padding-bottom: 5%;
  .left, .right {
    display: flex;
    flex-direction: column;
    width: 50%;
    p {
      margin: 0.25rem;
    }
  }
}
.selected-country-container .selected-country .info .borders {
  display: flex;
    align-items: center;
  
    p {
      min-width: 140px;
    }
  
    .border-countries-list {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
  
      button {
        box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
        height: 30px;
        padding: 0 0.5rem;
        border-radius: 5px;
        background-color: var(--card-background);
        color: var(--text-color);
        text-decoration: none;
      }
    }
}
/* MOBILE media-query */
@media (max-width: 376px) {
  #search-container {
    flex-direction: column;
    align-items: start;
    padding: 0;
    width: 100%;
  }
  main {
    padding: 1.25rem;
  }
  #search {
    width: 100%;
    margin-bottom: 1rem;
  }
  #region {
    margin-bottom: 1rem;
    width: 40%;
  }
}
