:root {
  --background: #fafafa;
  --card-background: #fff;
  --text-color: #000;
  --element-background: #fff;
  --input-background: #fff;
  --button-color: #fff;
  --button-text-color: #212e37;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  background-color: var(--background);
  color: var(--text-color);
}
main {
  padding: 1rem 68px;
}
header {
  background-color: var(--card-background);
  display: flex;
  position: relative;
  top: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
h1 {
  display: inline-block;
  font-size: 18px;
  color: var(--text-color);
}
header button {
  border: 0;
  background-color: var(--button-text-color);
  color: var(--button-color);
  font-family: "Nunito Sans", sans-serif;
  cursor: pointer;
  border-radius: 50%;
}
#search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  padding: 1rem 0;
}
#search {
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 40%;
  font-size: 1rem;
  background-color: var(--input-background);
}

#search::placeholder {
  color: var(--text-color);
}
#region {
  padding: 0.6rem;
  width: 15%;
  background-color: var(--element-background);
  color: var(--text-color);
}
.countries-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  justify-content: center; */
  gap: 68px;
}
.country-container {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 275px; /* dec 9px to fit google chrome (test only) */
  min-width: 275px;
  display: inline-block;
  background-color: var(--card-background);
  padding-bottom: 1.5rem;
}
.country-container img {
  width: 100%;
  height: 150px;
}
.card-info {
  font-size: smaller;
  padding-left: 15px;
}

.selected-country-container {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 600px;
    margin-right: 1rem;
  }
  >div {
    height: 500px;
    border: #000 1px solid;    
  }
}
.selected-country-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    margin-bottom: 1rem;
  }
  .selected-country-details {
    display: flex;
    justify-content: center;
    align-items: center;
    >div {
      height: 300px;
      border: #f00 1px solid;
    }
  }
  .border-countries {
    display: flex;
    align-items: center;
    p {
      min-width: 140px;
    }
    .border-countries-list {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      button {
        height: 30px;
        padding: 0 0.5rem;
        border-radius: 5px;
        background-color: rgb(182, 182, 182);
        color: #fff;
        text-decoration: none;
      }
    }
  }
  
}
main button {
  border: 0;
  color: #fff;
  background-color: rgb(182, 182, 182);
  font-family: "Nunito Sans", sans-serif;
  cursor: pointer;
  padding: 5px;
}

/* MOBILE media-query */
@media (max-width: 376px) {
  #search-container {
    flex-direction: column;
    align-items: start;
    padding: 0;
    width: 100%;
  }
  main {
    padding: 1.25rem;
  }
  #search {
    width: 100%;
    margin-bottom: 1rem;
  }
  #region {
    margin-bottom: 1rem;
    width: 40%;
  }
}
